$color_general: beige;

%property
{
    color: $color_general;
    text-decoration: none;
}

#center {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
    .centroP {
      @extend %property;
    }
  
    .card-text {
      color: rgb(0, 0, 0);
      text-decoration-style: none;
    }
  
    h2 {
      @extend %property;
    }
  
    a:hover {
      color: rgb(27, 68, 253) !important;
      background-color: rgb(11, 253, 11);
    }
  }

body
{
    background-image: linear-gradient( 120deg, rgba(53, 51, 49, 0.892), #84db1355), url("wallpaper.jpg");
    //background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}



.hero-principal {
    padding: 3rem;
}

/*Imagen del discord*/
#uwu-img{
    width: 200px;
    height: 200px;
    margin: 60px;
}

.homep #uwu-img {
    opacity: 90%;
}

/*Texto que cambia de color al pasar el cursor*/
#txt-bienvenida {
    text-align: center;
    font-size: 5rem;
    font-family: "Roboto", sans-serif;
    margin-top: 25px;
    font-weight: bold;
    color: rgb(4, 188, 255);
}

#txt-bienvenida:hover {
    color: rgb(120, 255, 2);
}

#txt-bienvenida:before {
    content: "Bienvenid@ ";
}

.titulo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*Los gif del index*/
.figura > img
{
    width: 450px;
    height: 230px;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 4%;
}


.figura{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}


/*Seleccion General*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-oscura {
    background-color: #1b1b32;
    color: white;
}

.seccion-clara {
    color: black;
    background-color: white;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e43;
}

.seccion-texto {
    font-size: 1.2rem;
}

h1 {
    font-size: 2.5rem;
}


/*Pie de pagina*/
footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
  }
  
  .iconos-redes-sociales a:hover {
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
  }
  
  .iconos-redes-sociales a:hover i {
    color: black;
  }
  
  .derechos-de-autor {
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
  }

  .image {
    height: 30vh;
    width: 70%;
    border-radius: 20px;
  }
  
  .card > img {
    height: 300px;
    width: 100%;
  }
  .table {
    h6 {
      text-align: center;
      color: $color_general;
    }
  }


@media (max-width: 700px) {
    .titulo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #txt-bienvenida{
        font-size: 3.5rem;
    }
    .figura {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }  
    
    #fortnite {
        width: 65vw;
        height: 25vh;
        margin-bottom: 25px;
        margin-left: 0px;
    }
    #sus
    {
        width: 65vw;
        height: 25vh;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    
    
}